<div class="container"> <div class=" text-center mt-5 ">
  <h1>Cadastrar Cliente</h1>
</div>
<div class="row ">
  <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4" style="background-color: #212121">
          <div class="card-body" style="background-color: #212121">
              <div class="container">
                  <form id="contact-form" role="form">
                      <div class="controls">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group"> <label for="form_name">Nome *</label> <input id="form_name" type="text" name="name" class="form-control" placeholder="Nome *" required="required" data-error="Firstname is required."> </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group"> <label for="form_Cidade">Cidade </label> <input id="form_Cidade" type="text" class="form-control" placeholder="Cidade" required="required" data-error="Cidade is required."> </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group"> <label for="form_Logradouro">Logradouro </label> <input id="form_Logradouro" type="text" class="form-control" placeholder="Logradouro" required="required" data-error="Firstname is required."> </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group"> <label for="form_Bairro">Bairro </label> <input id="form_Bairro" type="text" class="form-control" placeholder="Bairro" required="required" data-error="Bairro is required."> </div>
                          </div>
                              <div class="col-md-6">
                                  <div class="form-group"> <label for="form_Telefone">Telefone </label> <input id="form_Telefone" type="text" name="telefone" class="form-control" placeholder="Telefone" required="required" data-error="Telefone is required."> </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group"> <label for="form_Segundo Telefone">Segundo Telefone </label> <input id="form_Segundo Telefone" type="text" class="form-control" placeholder="Segundo Telefone"> </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group"> <label for="form_Estado">Estado </label> <input id="form_Estado" type="text" name="telefone" class="form-control" placeholder="Estado" required="required" data-error="Estado is required."> </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group"> <label for="form_Cep">Cep </label> <input id="form_Cep" type="text" name="telefone" class="form-control" placeholder="Cep" required="required" data-error="Cep is required."> </div>
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group"> <label for="form_Numero">Numero </label> <input id="form_Numero" type="text" class="form-control" placeholder="Numero" required="required" data-error="Numero is required."> </div>
                          </div>
                              <div class="col-md-6">
                                  <div class="form-group"> <label for="form_email">Email </label> <input id="form_email" type="email" name="email" class="form-control" placeholder="Por favor entre com o seu e-mail *"> </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Cadastrar"> </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div> <!-- /.8 -->
  </div> <!-- /.row-->
</div>
</div>
