<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">

        <form (ngSubmit)="onSubmit()" #form="ngForm" class="box">
          <p class="h1">Login</p>
          <p class="text-muted"> Por favor insira seu login e senha!</p>

          <input [(ngModel)]="login.usuario" type="text" name="usuario" id="usuario" placeholder="Login" required />
          <input [(ngModel)]="login.senha" type="password" name="senha" id="senha" placeholder="Senha" required/>

          <!-- [disabled]="form.form.invalid" mantem o botao de Acessar desabilitado enquanto todos os campos nao seja preenchido -->
          <button type="submit" name="action" [disabled]="form.form.invalid">Acessar</button>

          <!-- Icones para as redes sociais -->
          <div class="col-md-12">

            <ul class="social-network social-circle">

              <li>
                <a href="https://www.facebook.com/" class="icoFacebook" title="Facebook">
                  <i class="fa fa-facebook-f"></i>
                </a>
              </li>

              <li>
                <a href="https://twitter.com/" class="icoTwitter" title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li>
                <a href="https://accounts.google.com/" class="icoGoogle" title="Google+">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>

            </ul>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
